body{
    color:rgb(197, 169, 169);
    background-color: rgb(69, 74, 48);
    font-size: large;
}
table{
    border-collapse: collapse;
    width: 100;
}
th, td{
    border: 1px solid #030101;
    padding: 8px;
    text-align: left;
}
th{
    background-color:rgb(37, 16, 198);
    text-align: center;
}